{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <style>
        @import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
    </style>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
    <title>Monte Carlo Pi Estimator</title>
    <script src="{% static "d3.v2.js" %}" charset="utf-8"></script>
    <script src="{% static "cubism.v1.js" %}" charset="utf-8"></script>
    <script src="{% static "highlight.js" %}" charset="utf-8"></script>
</head>
<body>
    <h2>A Monte Carlo Estimation of Pi</h2>
    <p>If a circle is inscribed in a square, the ratio of their areas is &pi; / 4.
    This means that we can choose random points and estimate &pi; by counting the
    ones inside the circle, dividing by the total number of points, and multiplying by four.</p>
    <script>
        var bodySelection = d3.select("body");

        var svgSelection = bodySelection.append("svg")
                .attr("width", 500)
                .attr("height", 500);

        var piTS = bodySelection.append("div")

        var rectSelection = svgSelection.append("rect")
                .attr("width", 500)
                .attr("height", 500)
                .style("fill", "none")
                .style("stroke", "black")
                .style("stroke-width", "border");

        var circleSelection = svgSelection.append("circle")
                .attr("r", 250)
                .attr("cx", 250)
                .attr("cy", 250)
                .style("fill", "none")
                .style("stroke", "black")
                .style("stroke-width", "border");

        var pointsIn = 0;

        var pointsOut = 0;

        var pi = 0;

        var color = "none";

        var piEstimates = [];

        var context = cubism.context()
            .serverDelay(0)
            .clientDelay(0)
            .step(20)
            .size(500);

        var counter = 0;

        while (counter < context.size) {
            counter += 1;
            piEstimates.append(0);
        }

        var piMetric = context.metric(function(start, stop, step, callback) {
            start = +start, stop = +stop;
            callback(null, piEstimates = piEstimates.slice((start - stop) / step));
          }, "Pi Estimate");

        function monteCarloPi()
        {
            var xCoord = Math.random();
            var yCoord = Math.random();
            var dist = Math.sqrt(
                    Math.pow(xCoord - 0.5, 2) + Math.pow(yCoord - 0.5, 2)
            );

            if (dist <= 0.5) {
                pointsIn += 1;
                color = "red";
            }

            if (dist > 0.5) {
                pointsOut += 1;
                color = "blue";
            }

            pi = 4 * pointsIn / (pointsIn + pointsOut);

            piEstimates.push(pi)

            svgSelection.append("circle")
                .attr("r", 1)
                .attr("cx", xCoord * 500)
                .attr("cy", yCoord * 500)
                .style("fill", color);

        }

        setInterval(monteCarloPi, 0)

        piTS.call(function(div) {

          div.append("div")
              .attr("class", "axis")
              .call(context.axis().orient("top"));

          div.selectAll(".horizon")
              .data([piMetric])
              .enter().append("div")
              .attr("class", "horizon")
              .call(context.horizon()
                          .extent([3.5, 4.1])
                          .format(d3.format(".6s"))
                          .scale(d3.scale.pow().exponent(4)));

          div.append("div")
              .attr("class", "rule")
              .call(context.rule());

        });

        context.on("focus", function(i) {
          d3.selectAll(".value").style("right", i == null ? null : context.size() - i + "px");
        });


    </script>
</body>
</html>